body{
    padding-top: 35px;
    padding-bottom: 150px;
    color: #5a5a5a;
}

.carousel-heading-style{
/*    font-family: 'Cinzel', serif;*/
/*    font-family: 'Montserrat Alternates', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 3.2ch;
}

.carousel-paragraph-style{
    font-family: 'Noto Serif KR', sans-serif;
    color: aliceblue;
}

.carousel-link-style{
    font-family: 'Noto Serif KR', sans-serif;
    color: aliceblue;
    font-size: 1.4ch;
    padding-top: 1px;
    padding-bottom: 1px;
}

.heading-style{
    font-family: 'Montserrat', sans-serif;
/*    font-family: 'Mukta Malar', sans-serif;*/
/*    font-family: 'Merriweather Sans', sans-serif;*/
/*    font-size: 2ch;*/
/*    font-family: monospace;*/
}

.paragraph-style{
    font-family: 'Noto Serif KR', sans-serif;
    color:rgba(50,50,50,0.8);
}

.link-style{
    font-family: 'Noto Serif KR', sans-serif;
    font-size: 1.4ch;
}

a:link{
    text-decoration: none;
}

.navbar-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;   
    z-index: 20;
}

.navbar-wrapper > .container{
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar{
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-wrapper .navbar .container{
/*    used for very small screen */
    width: auto;
}

.carousel{
    height: 500px;;
/*    height: 500px;*/
    margin-bottom: 50px;
}

.carousel-inner > .carousel-item{
    height: 500px;
    background-color: #777;
}

.carousel-inner > .carousel-item > img{
    position:absolute;
/*    height: 500px;*/
    min-width: 100%;
    top:0;
    left: 0;
}

.font-style{
    color: aliceblue;
}

.team .col-lg-4{
    text-align: center;
    margin-bottom: 20px;
}

.team h5, p{
    color:rgba(50,50,50,0.8);
}

.team p{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 0.9em;
}

.team p a{
    font-size: 0.9em;
}

.divider{
    margin: 10px 80px;
/*    border: solid 1px;*/
}

.content .col-md-7{
    padding-left: 125px;
    padding-top: 30px;
    text-align: center;
/*    letter-spacing: normal;*/
/*    line-height: normal;*/
}

.content .col-md-5{
    padding-top: 20px;
    margin-bottom: 12px;
/*    padding-left: 50px;*/
    text-align: center;
}

.resizeImage3{
    width: 45%;
}

footer{
    font-family: 'Noto Serif KR', sans-serif;
    margin:25px 195px; 
    font-size: 1.1ch;
}

